// basic
$mainColor: #f69fac;
$subColor: #ffebec;
$bgColor: #fff8fb;

// font
$fontColor: #6c6c6c;
$fontColor-sub: #a7a7a7;

// border
$borderColor-default: #ccc;
$borderColor-todoList: #ffebec;

// error
$errorColor: #F66E82;